In [1]:
# Import the dependencies
import pandas as pd
import gmaps
import requests
# Import the API key
from config import g_key

In [2]:
# Store the CSV you saved created in poart one into a DataFrame
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,kondinskoye,RU,2022-02-18 05:11:20,59.6481,67.4100,19.87,88,100,10.71
1,1,sibolga,ID,2022-02-18 05:11:20,1.7427,98.7792,87.04,62,26,5.12
2,2,hami,CN,2022-02-18 05:11:21,42.8000,93.4500,23.85,30,2,2.06
3,3,grand-santi,GF,2022-02-18 05:11:21,4.2500,-54.3833,71.17,100,99,0.92
4,4,xinqing,CN,2022-02-18 05:11:21,48.2333,129.5000,14.11,71,100,1.01

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
cloudiness = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights= wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,sibolga,ID,2022-02-18 05:11:20,1.7427,98.7792,87.04,62,26,5.12
5,5,faanui,PF,2022-02-18 05:11:22,-16.4833,-151.7500,80.73,72,19,8.95
7,7,touros,BR,2022-02-18 05:11:22,-5.1989,-35.4608,77.90,77,19,7.38
19,19,vaini,TO,2022-02-18 05:11:27,-21.2000,-175.2000,82.08,73,51,10.40
20,20,port moresby,PG,2022-02-18 05:11:27,-9.4431,147.1797,81.77,81,79,10.89
21,21,kapaa,US,2022-02-18 05:11:28,22.0752,-159.3190,76.98,81,75,14.97
23,23,matara,LK,2022-02-18 05:11:28,5.9485,80.5353,84.87,56,57,5.01
27,27,pundaguitan,PH,2022-02-18 05:11:30,6.3711,126.1689,78.17,86,98,18.63
32,32,qandala,SO,2022-02-18 05:11:32,11.4720,49.8728,75.16,57,7,6.42
36,36,malakal,SS,2022-02-18 05:11:34,9.5334,31.6605,76.50,15,82,6.60

In [11]:
preferred_cities_df.count()

City_ID       129
City          129
Country       129
Date          129
Lat           129
Lng           129
Max Temp      129
Humidity      129
Cloudiness    129
Wind Speed    129
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
1        sibolga      ID     87.04   1.7427   98.7792
5         faanui      PF     80.73 -16.4833 -151.7500
7         touros      BR     77.90  -5.1989  -35.4608
19         vaini      TO     82.08 -21.2000 -175.2000
20  port moresby      PG     81.77  -9.4431  147.1797
21         kapaa      US     76.98  22.0752 -159.3190
23        matara      LK     84.87   5.9485   80.5353
27   pundaguitan      PH     78.17   6.3711  126.1689
32       qandala      SO     75.16  11.4720   49.8728
36       malakal      SS     76.50   9.5334   31.6605

In [13]:
hotel_df.isnull().sum()

City          0
Country       0
Max Temp      0
Lat           0
Lng           0
Hotel Name    0
dtype: int64

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key}

In [15]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,sibolga,ID,87.04,1.7427,98.7792,Hotel Syariah CN Darussalam
5,faanui,PF,80.73,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
7,touros,BR,77.90,-5.1989,-35.4608,INN NEW HORIZON
19,vaini,TO,82.08,-21.2000,-175.2000,Keleti Beach Resort
20,port moresby,PG,81.77,-9.4431,147.1797,Lamana Hotel (Port Moresby)
21,kapaa,US,76.98,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
23,matara,LK,84.87,5.9485,80.5353,Amaloh Boutique Resort
27,pundaguitan,PH,78.17,6.3711,126.1689,Leonardo Family Beach House 1
32,qandala,SO,75.16,11.4720,49.8728,
36,malakal,SS,76.50,9.5334,31.6605,Nile Palace Hotel

In [17]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig1 = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer1 = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer1)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))