In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,New Norfolk,AU,-42.7826,147.0587,55.71,72,61,2.75,broken clouds
1,1,Kutum,SD,14.2000,24.6667,63.63,8,16,8.99,few clouds
2,2,Puerto Escondido,MX,15.8500,-97.0667,86.83,70,0,8.05,clear sky
3,3,Thompson,CA,55.7435,-97.8558,-5.64,54,0,14.97,clear sky
4,4,Sao Joao Da Barra,BR,-21.6403,-41.0511,80.69,86,99,12.30,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria
min_temp = float(input("Enter city minimum temperature:"))
max_temp = float(input("Enter city maximum temperature:"))

Enter city minimum temperature:50
Enter city maximum temperature:90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) & 
                                    (city_data_df["Max Temp"] <= max_temp) ]
preferred_cities

,City ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,New Norfolk,AU,-42.7826,147.0587,55.71,72,61,2.75,broken clouds
1,1,Kutum,SD,14.2000,24.6667,63.63,8,16,8.99,few clouds
2,2,Puerto Escondido,MX,15.8500,-97.0667,86.83,70,0,8.05,clear sky
4,4,Sao Joao Da Barra,BR,-21.6403,-41.0511,80.69,86,99,12.30,overcast clouds
5,5,Alofi,NU,-19.0595,-169.9187,75.09,94,100,5.75,light intensity shower rain
...,...,...,...,...,...,...,...,...,...,...
679,679,Tuatapere,NZ,-46.1333,167.6833,55.81,62,61,3.78,broken clouds
680,680,Pindobacu,BR,-10.7417,-40.3608,81.03,52,33,6.04,scattered clouds
681,681,Paraisopolis,BR,-22.5542,-45.7800,85.23,86,15,0.96,few clouds
682,682,Luau,AO,-10.7073,22.2247,65.75,97,100,4.38,light rain
684,684,Massakory,TD,12.9960,15.7293,76.69,10,0,8.05,clear sky

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities.isnull().sum()

City ID                0
City                   0
Country                8
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [6]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,New Norfolk,AU,55.71,broken clouds,-42.7826,147.0587,
1,Kutum,SD,63.63,few clouds,14.2000,24.6667,
2,Puerto Escondido,MX,86.83,clear sky,15.8500,-97.0667,
4,Sao Joao Da Barra,BR,80.69,overcast clouds,-21.6403,-41.0511,
5,Alofi,NU,75.09,light intensity shower rain,-19.0595,-169.9187,
8,Teahupoo,PF,78.76,clear sky,-17.8333,-149.2667,
10,Payakumbuh,ID,69.91,overcast clouds,-0.2202,100.6308,
11,Oranjemund,NaN,64.13,clear sky,-28.5500,16.4333,
13,Avera,US,80.44,clear sky,33.1940,-82.5271,
14,Arraial Do Cabo,BR,82.26,thunderstorm,-22.9661,-42.0278,

In [7]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6b get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()

    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [8]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df = hotel_df.dropna()
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,New Norfolk,AU,55.71,broken clouds,-42.7826,147.0587,The Shingles Riverside Cottages
1,Kutum,SD,63.63,few clouds,14.2000,24.6667,Dibbo areaمنطقة دبو
2,Puerto Escondido,MX,86.83,clear sky,15.8500,-97.0667,Aldea del Bazar Hotel and Spa
4,Sao Joao Da Barra,BR,80.69,overcast clouds,-21.6403,-41.0511,Pousada Porto De Canoas
5,Alofi,NU,75.09,light intensity shower rain,-19.0595,-169.9187,Taloa Heights

In [9]:
# 8a. Create the output File (CSV)
output_data_file = 'WeatherPy_vacation.csv'
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [10]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [11]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5) 
# 11b. Display the figure
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

In [12]:
fig

Figure(layout=FigureLayout(height='420px'))