## Deliverable 3. Create a Travel Itinerary Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [3]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv('../Vacation_Search/WeatherPy_vacation.csv')
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,New Norfolk,AU,55.71,broken clouds,-42.7826,147.0587,The Shingles Riverside Cottages
1,1,Kutum,SD,63.63,few clouds,14.2000,24.6667,Dibbo areaمنطقة دبو
2,2,Puerto Escondido,MX,86.83,clear sky,15.8500,-97.0667,Aldea del Bazar Hotel and Spa
3,4,Sao Joao Da Barra,BR,80.69,overcast clouds,-21.6403,-41.0511,Pousada Porto De Canoas
4,5,Alofi,NU,75.09,light intensity shower rain,-19.0595,-169.9187,Taloa Heights

In [6]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [9]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker = gmaps.marker_layer(locations,info_box_content = hotel_info)
fig.add_layer(marker)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [54]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Sini")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Sini")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Gaya")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Daltenganj") ]
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Pathalgaon")]

In [55]:
# Getting lat, lng
start = vacation_start["Lat"].to_numpy()[0],vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0],vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0],vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0],vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0],vacation_stop3["Lng"].to_numpy()[0]

In [52]:
stop1

(20.4487, 121.9702)

In [56]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5) 
layer = gmaps.directions_layer(start,
                               end,
                               waypoints =[stop1,stop2,stop3],
                              travel_mode = "DRIVING")
fig.add_layer(layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [57]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,
                         vacation_stop2,
                         vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,523,Sini,IN,64.62,clear sky,22.8000,85.9667,Mundatand Nayagora
1,533,Gaya,IN,58.71,clear sky,24.7833,85.0000,Hotel Viraat Inn Gaya
2,658,Daltenganj,IN,57.94,clear sky,24.0333,84.0667,Hotel Galaxy Inn
3,219,Pathalgaon,IN,60.46,clear sky,22.5667,83.4667,Queens Park Marriage Garden

In [58]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [60]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5) 
marker = gmaps.marker_layer(locations,info_box_content = hotel_info)
fig.add_layer(marker)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))